<<<<<<< HEAD
.cardHeader h3{
    display: flex;
    align-items: center;
}

.patientCard{
    min-width: 500px;
}

.caret{
    margin-top: 8px;
    width: 30px;
    height: 30px;
}

.rotate{
    transform: rotate(180deg);
}

.patientCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .cardHeader {
    background-color: #f5f5f5;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cardContent {
    padding: 10px;
  }
  
  .cardRow {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
  }
  
  .cardRow:nth-child(odd) {
    background-color: #f0f0f0; /* Hellgrauer Hintergrund */
  }
  
  .cardRow:nth-child(even) {
    background-color: #ffffff; /* Weißer Hintergrund */
  }
  
=======
version https://git-lfs.github.com/spec/v1
oid sha256:1c121e4ac0056ee3fce03cc31f558e2e53e183e3140c166bcb631a19fe345489
size 876
>>>>>>> 27aa36463c4f1ad2a7c8c8bc2ccada08a4bca70a
