<<<<<<< HEAD
.NotFound_container___krbu{display:flex;flex-direction:column;justify-content:center;align-items:center;font-family:Noe Display,sans-serif;height:100vh;box-sizing:border-box;background-color:#fff;color:#8b7d6b}.NotFound_heading__jCuOe{color:#8b7d6b;font-weight:700;font-size:36px}.NotFound_subTitle__Cf7i0{font-size:1.4rem;color:#8b7d6b}.NotFound_suggestion__p07aM{display:flex;flex-wrap:wrap;max-width:500px}.NotFound_suggestionItem__uMOmH{padding:8px 18px;margin:.8rem .4rem;text-decoration:none;border:1px solid #dcd0c0;border-radius:10px;background-color:#fffaf0;color:#8b7d6b;transition:all .3s ease;font-size:1rem}.NotFound_suggestionItem__uMOmH:hover{background-color:#e9dcc7;border-color:#cbb59c;color:#5a4634}
=======
version https://git-lfs.github.com/spec/v1
oid sha256:fa4724bfe404436df25a2360da47e34f642f17ceb8e2ddab1d40964f6fd58e7e
size 718
>>>>>>> 27aa36463c4f1ad2a7c8c8bc2ccada08a4bca70a
