.divContainer {
    position: relative;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContainer {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    text-align: center;
  }
  
  .modalHeader {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .cancelButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cancelButton:hover {
    background-color: #d32f2f;
  }
  
  .saveButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .saveButton:hover {
    background-color: #388e3c;
  }
  
  .calendarRow {
    height: 20px; /* Erhöht die Zeilenhöhe im Kalender */
  }
  
  .eventContent {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  