<<<<<<< HEAD
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Noe Display", sans-serif;
    height: 100vh;
    box-sizing: border-box;
    background-color: #ffffff; 
    color: #8b7d6b; 
}
.heading{
    color: #8b7d6b;
    font-weight: bold;
    font-size: 36px;
}
.subTitle {
    font-size: 1.4rem;
    color: #8b7d6b;
}

.suggestion {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.suggestionItem {
    padding: 8px 18px;
    margin: 0.8rem 0.4rem;
    text-decoration: none;
    border: 1px solid #dcd0c0; 
    border-radius: 10px;
    background-color: #fffaf0; 
    color: #8b7d6b; 
    transition: all 0.3s ease;
    font-size: 1rem;
}

.suggestionItem:hover {
    background-color: #e9dcc7; 
    border-color: #cbb59c; 
    color: #5a4634;
}
=======
version https://git-lfs.github.com/spec/v1
oid sha256:362bdb8c4a6c226b2675b1b0c0abb6a2d6b85ff3f3f6855b2be50635c1f0fced
size 881
>>>>>>> 27aa36463c4f1ad2a7c8c8bc2ccada08a4bca70a
