
/* Form Container */
.formContainer {
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    margin: auto;
  }
  
  /* Überschrift */
  .formContainer h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: bold;
    color: #AE9B7F;
  }
  
  /* Eingabefelder */
  .formContainer input,
  .formContainer select,
  .formContainer textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #AE9B7F;
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .formContainer input:focus,
  .formContainer select:focus,
  .formContainer textarea:focus {
    border-color: #8c7b55;
    box-shadow: 0 0 8px rgba(174, 155, 127, 0.5);
  }
  
  .formContainer textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  /* Submit Button */
  .submitButton {
    background-color: #AE9B7F;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
  }
  
  .submitButton:hover {
    background-color: #8c7b55;
  }
  
  /* Responsivität */
  @media (max-width: 768px) {
    .formContainer {
      padding: 30px;
    }
  
    .formContainer h2 {
      font-size: 1.8rem;
    }
  }
  
  .errorContainer {
    color: red;
    text-align: center;
    margin-top: 20px;
  }
  
  .error {
    font-size: 14px;
    font-weight: bold;
  }
  