<<<<<<< HEAD
.main {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
  }
.inner__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left__container {
    width: 55%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid rgba(204, 204, 204, 0.4);
  }
  .title{
    font-size: 30px;
  }
  .left__content {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .left__content__description__container {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    justify-content: center;
  }
  #threejs_left_container {
    position: relative;
    width: 800px; 
    height: 600px; 
    z-index: -1; 
    margin-top: 20px; 
  }
  
  .right__container {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .features{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 11px;
  }
  .features__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    gap: 11px;
  }
  .login__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  .input{
    height: 40px;
    min-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding-left: 10px;
    font-size: 17px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.relative{
    position: relative;
}
.left__btns {
    display: flex;
    justify-content: flex-start; 
    width: 100%; 
    align-self: flex-start;
    padding-left: 100px;
    padding-top: 22px;
  }
  .button{
    position: relative;
    height: 60px;
    border-radius: 2px;
    color: black;
    font-size: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgb(71, 70, 70);
    padding: 10px 20px;
    font-weight: bold;
    min-width: 300px;
    cursor: pointer;
    transition: all .2s ease-out;
    line-height: 60px;
    margin-top: 0;
}

.button:hover{
    box-shadow: 0 4px 10px #333;
    min-width: 350px;
}

.existingacc{
    margin-top: 10px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.underline:hover{
    text-decoration: underline;
    cursor: pointer;
}
.error{
    position: absolute;
    top: -20px;
    color: red;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}



@media (max-width: 980px){
    .main{
        flex-direction: column;
        width: 100%;
    }

    .left__container{
        width: 100%;
        height: 100%;
    }


    .right__container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .login__title{
        margin-top: 40px;
    }
}
=======
version https://git-lfs.github.com/spec/v1
oid sha256:a1abb8d2d6e5e0d40aa0775ef21db912a31c8506e8bd12fb5bdb79bb2e9fef3f
size 3491
>>>>>>> 27aa36463c4f1ad2a7c8c8bc2ccada08a4bca70a
